.protocol__block:not(:last-child) {
    margin: 0 0 40px 0;
}

.protocol__container {
    display: flex;
    justify-content: space-between;
}

.protocol__unit {
    width: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.protocol__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.protocol__number {
    flex-shrink: 0;
}

.protocol__player {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.protocol__picture {
    margin: 0 10px;
    position: relative;
}

.protocol__img {
    display: block;
}

.protocol__status {
    position: absolute;
    right: 0;
    top: -5px;
    border-radius: 50%;
    background-color: orange;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.protocol__name-status {
    display: none;
}

.protocol__name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.protocol__position {
    font-size: 12px;
    line-height: 16px;
}

.protocol__events {
    display: flex;
    align-items: center;
}

.protocol__event {
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.protocol__icon {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.protocol__unit--right .protocol__count {
    order: -1;
}

.protocol__unit--right .protocol__player {
    order: 1;
    justify-content: flex-end;
    text-align: right;
}

.protocol__unit--right .protocol__picture {
    order: 2;
}

.protocol__unit--right .protocol__number {
    order: 2;
}

@media (max-width: 960px) {
    .protocol__container {
        flex-direction: column;
    }

    .protocol__unit {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .protocol__item:empty {
        display: none;
    }
}

@media (max-width: 480px) {
    .protocol__top-name {
        font-size: 16px;
        line-height: 18px;
    }

    .protocol__picture {
        display: none;
    }

    .protocol__number {
        margin: 0 10px;
    }

    .protocol__name {
        font-size: 12px;
        line-height: 14px;
    }

    .protocol__name-status {
        display: inline-block;
        font-size: 12px;
        line-height: 14px;
        margin: 0 3px;
    }

    .protocol__unit--right .protocol__name-status {
        order: -1;
    }

    .protocol__position {
        font-size: 10px;
        line-height: 12px;
    }
}